body {
  font-family: sans-serif;
  margin: 0;
  background: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

/* index.css or App.css */
body[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
  --card-bg: #f9f9f9;
}
body[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --card-bg: #2c2c2c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.product-card {
  background-color: var(--card-bg);
}

